version: "3.9"

services:
  web:
    build: .
    container_name: meu_app
    ports:
      - "5000:5000"
    volumes:
      - ./app:/app
    environment:
      - FLASK_ENV=development
    restart: unless-stopped

  db:
    image: postgres:15
    container_name: meu_banco
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=senha123
      - POSTGRES_DB=meubanco
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  pgdata:
