apiVersion: v1
kind: Service
metadata:
  name: nginx-service
spec:
  type: LoadBalancer # Expondo para fora do cluster
  selector:
    app: nginx
  ports:
    - protocol: TCP
      port: 80 # Porta exposta externamente
      targetPort: 80 # Porta dentro do container
